//Variables
$version: 1;
//colores
$blackOpacity: rgba(0, 0, 0, 0.25);

//border cartas
$borderCard: 8px;

//imagenes 
$mesa: url(../image/mesa-cartas.svg) no-repeat center;
$texturaMesa: url(../image/textura-1.png) repeat center;
$handRight: url(../image/pokerhand-right.svg) no-repeat center;
$handLeft: url(../image/pokerhand-left.svg) no-repeat center;
$card0: url(../image/carta-choice-0.svg);
$card1: url(../image/carta-choice-1.svg);
$card2: url(../image/carta-choice-2.svg);
$card3: url(../image/carta-choice-3.svg);
$presentador: url(../image/presentador.svg);

//mixin
@mixin boxShadowCard($color){
    box-shadow: 4px 4px 0px $color;
}

//clases comunes
.juego-mat-1-active {
    .opciones-juego, .opciones-juego1, .opciones-juego2, .opciones-juego3 {
        background: transparent;
        height: 0;
        width: 0;
        padding-bottom: 0;
        margin: 0;
        bottom: 60px;

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: 14px;
        }
    }
}
.opciones-juego1.juego-1, .opciones-juego2.juego-2, .opciones-juego3.juego-3 {
    margin-left: 0px!important;
}

//juego 1
.juego-mat-1-active {
    position: absolute;
    overflow: hidden;
    @extend .full;
        
    .contenedor-pregunta {    
        .piso-juego {
            z-index: -1;
            width: 100%;
            height: 480px;

            @media screen and (max-width: $mediaMedium) {
                height: 388px;
            }

            @media screen and (max-width: $mediaNormalSmall) {
                height: 350px;
            }
        }
    }

    //mesa
    .mesa-cartas {
        width: 560px;
        height: 564px;
        background: $mesa;
        background-size: contain;
        bottom: -46px;
        left: 50%;
        margin-left: -280px;
        position: absolute;
        z-index: 0;
        @extend .transition;

        &:before, &:after {
            content: '';
            width: 506px;
            height: 324px;
            border-radius: 9px;
            top: 34px;
            left: 28px;
            position: absolute;
        }

        &:before {
            background: #cacaca;
        }

        &:after {
            background: $texturaMesa;
            opacity: .5;
        }

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: -90px;
        }

        @media screen and (max-width: $mediaNormalSmall) {
            @include transformScale(.7);
            bottom: -118px;
        }
    }

    //comun manos
    .pokerhand-right, .pokerhand-left {
        width: 274px;
        height: 219px;
        position: absolute;
        bottom: -34px;
    }

    //mano derecha
    .pokerhand-right {
        background: $handRight;
        background-size: cover;
        right: 50%;
        margin-right: -300px;
        transform: rotate(0deg) translate(0, 0);
        -webkit-transform: rotate(0deg) translate(0, 0);
        @extend .transition;

        &.enterhand-right {
            transform: rotate(30deg) translate(0, 23%);
            -webkit-transform: rotate(30deg) translate(0, 23%);
            bottom: -200px;
        }

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: -95px;
            margin-right: -260px;
        }
    }

    //mano izquierda
    .pokerhand-left {
        background: $handLeft;
        background-size: cover;
        left: 50%;
        margin-left: -300px;
        transform: rotate(0deg) translate(0, 0);
        -webkit-transform: rotate(0deg) translate(0, 0);
        @extend .transition;

        &.enterhand-left {
            transform: rotate(-30deg) translate(0, 23%);
            -webkit-transform: rotate(-30deg) translate(0, 23%);
            bottom: -200px;
        }

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: -95px;
            margin-left: -260px;
        }
    }

    //comunes entre contedor de cartas y alternativas
    .alternativa .carta:before, .carta-number:before, .void-space:before {
        content: attr(data-num);
        font-size: 14px;
        top: -42px;
        left: 4px;
        position: absolute;
    }
    .alternativa .carta:after, .carta-number:after, .void-space:after {
        content: attr(data-num);
        font-size: 14px;
        bottom: -44px;
        right: 6px;
        position: absolute;
        transform: rotate(180deg);
    }
    .alternativa .carta-0, .carta-number.carta-0, .void-space.carta-0 {
        background-image: $card0 !important;
        background-size: cover !important;
        color: #a01010;
    }
    .alternativa .carta-1, .carta-number.carta-1, .void-space.carta-1 {
        background-image: $card1 !important;
        background-size: cover !important;
    }
    .alternativa .carta-2, .carta-number.carta-2, .void-space.carta-2 {
        background-image: $card2 !important;
        background-size: cover !important;
        color: #a01010;
    }
    .alternativa .carta-3, .carta-number.carta-3, .void-space.carta-3 {
        background-image: $card3 !important;
        background-size: cover !important;
    }

    //contenedor carta de pregunta
    .cartas-pregunta {
        left: 0;
        bottom: 330px;
        top: initial;
        border-radius: 16px;
        margin: 0;
        position: absolute;
        transition-delay: .8s !important;
        -webkit-transition-delay: .8s !important;
        width: 100%;
        height: 116px;
        text-align:center;
        opacity: 1;
        z-index: 1;
        @extend .transition;

        &.entrada {
            left: initial !important;
            opacity: 0;
        }

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: 250px;
        }

        @media screen and (max-width: $mediaNormalSmall) {
            bottom: 210px;
        }

        //numero pedido
        .carta-number {
            width: 78px !important;
            height: 112px !important;
            position: absolute;
            left: 50%;
            margin-left: -39px;
            color: #575757;
            font-weight: bold;
            text-align: center;
            font-size: 32px;
            letter-spacing: -2px;
            line-height: 106px;
            padding-right: 4px;
            border-radius: $borderCard;
            background-color: $white;
            @include boxShadowCard($blackOpacity);
        }

        //espacio de opciones
        .voids {
            height: 94px;
            position: relative;
            top: 120px;

            &.complete {
                top: 167px;
            }

            //espacio de carta
            .void-space {
                background: $blackOpacity;
                border-radius: 10px;
                width: 78px !important;
                height: 112px !important;
                display: inline-block;
                transition: background .6s $ease, background-image .6s $ease;

                &.carta-0, &.carta-1, &.carta-2, &.carta-3 {
                    color: #575757;
                    font-weight: bold;
                    top: -46px;
                    position: relative;
                    font-size: 32px;
                    letter-spacing: -2px;
                    line-height: 106px;
                    padding-right: 4px;
                    border-radius: $borderCard;
                    background-color: $white;
                    box-shadow: 4px 4px 0px $blackOpacity
                }
            }

            //signo de suma
            .signo {
                width: 30px;
                display: inline-block;
                font-weight: bold;
                font-size: 50px;
                color: $blackOpacity;
                top: -39px;
                margin: 0 2px;
                position: relative;
            }
        }
    }

    //alternativas
    .alternativa {
        @extend .centerInitial, .sizeInitial, .reset;

        .carta {
            width: 78px;
            height: 112px;
            background: transparent;
            color: #575757; 
            font-weight:bold;
            text-align: center;
            font-size: 32px;
            letter-spacing: -2px;
            line-height: 106px;
            padding-right: 4px;
            margin-left: -39px;
            margin-top: -56px;
            border-radius: $borderCard;
            background-color: $white;
            box-shadow: -4px 4px 0px $blackOpacity;
            @extend .transition, .centerInitial;

            &.nice.active{
                box-shadow: 0px 0px 18px #ffbc00;
                border: 2px solid #ffbc00;
            }

            &.selectCarta {
                top: 20px !important;
            }
        }
    }

    //presentador
    .presentador {
        background-image: $presentador;
        background-size: cover;
        width: 530px;
        height: 480px;
        bottom: 380px;
        left: 50%;
        margin-left: -265px;
        position: absolute;
        @extend .transition;

        @media screen and (max-width: $mediaMedium) {
            @include transformScale(.8);
            bottom: 262px;
        }

        @media screen and (max-width: $mediaNormalSmall) {
            @include transformScale(.7);
            bottom: 180px;
        }
    }
}